<div class="m-2 p-2 border">
    <form action="/pages/blazor" method="get">
        @for (int i = 0; i < ElementCounter; i++)
        {
            int local = i;
            <div class="m-2 p-2 border">
                <button class="btn btn-primary" @onclick="@(()=>IncrementCounter(local))" @onclick:preventDefault="EnableEventParams">Button @(local+1)</button>
                <button class="btn btn-secondary" @onclick:preventDefault="EnableEventParams">Remove</button>
                <span class="p-2">Counter value: @GetCounter(i)</span>
            </div>
        }
    </form>
</div>

<div class="m-2" @onclick="@(()=> IncrementCounter(1))">
    <button class="btn btn-primary" @onclick="@(()=> IncrementCounter(0))" @onclick:stopPropagation="EnableEventParams">Propagation test</button>
</div>
<div class="form-check m-2">
    <input class="form-check-input" type="checkbox" @onchange="@(()=>EnableEventParams = !EnableEventParams)" />
    <label class="form-chack-label">Enable Event parameter</label>
</div>

@code{

    public int ElementCounter { get; set; } = 4;
    public Dictionary<int, int> Counters { get; set; } = new Dictionary<int, int>();
    public int GetCounter(int index) =>
        Counters.ContainsKey(index) ? Counters[index] : 0;
    public bool EnableEventParams { get; set; } = false;

    public void IncrementCounter(int id)
    {
        Counters[id] = GetCounter(id)+1;
    }

    }