<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Deptn</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in People)
            {
                <tr class="@GetClass(item.Location.City)">
                    <td>@item.PersonId</td>
                    <td>@item.Firstname, @item.Surname</td>
                    <td>@item.Departament.Name</td>
                    <td>@item.Location.City, @item.Location.State</td>
                </tr>
            }
    </tbody>
</table>

<SelectFilter Values="@Cities" Title="City" autofocus="true" name="city" required="true"/>

@code{
    [Inject]
    public DataContext Context { get; set; }
    public IEnumerable<Person> People =>
        Context.People.Include(p => p.Departament).Include(p => p.Location).Take(ItemCount);
    public IEnumerable<string> Cities => Context.Locations.Select(p => p.City);
    public string SelectedCity { get; set; }

    public string GetClass(string city) =>
        SelectedCity == city ? "bg-info text-white" : "";
        [Parameter]
    public int ItemCount { get; set; }
        [Parameter]
    public string SelectTitle { get; set; }
}